<h1>Sadness</h1>

<div class="row">
  <div class="col-lg-8">
<%= form_tag({controller: 'sadness',action: 'depress'}, method: 'get') do %>
        <div class="input-group">
        <%= text_field_tag(:link_to, nil, class: 'form-control', placeholder: 'Sadness URL') %>
      <span class="input-group-btn">
    <%= submit_tag('Go!', class: 'btn btn-default') %>
      </span>
<% end %>
</div>
</div>
</div>